<!doctype html>
<title>Algotrading - {% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<nav>
  <h1>ALGOTRADING</h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">SAIR</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">CADASTRE-SE</a>
      <li><a href="{{ url_for('auth.login') }}">ENTRE</a>
    {% endif %}
  </ul>
</nav>

<section class="content">
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
</section>
