{% extends 'base.html' %}

{% block header %}
  <h1>
    {% block title %}
      Painel de Controle
    {% endblock %}
  </h1>
{% endblock %}



{% block content %}
  {% if g.user %}
    <div class="content-container">
      <div class="history-container">
        <h1>Histórico</h1>
        {% for config in configs %}
            <hr />
            <article class="config">
              <header>
                <div>
                  <h1>{{ config['id'] }}</h1>
                  <h1>{{ config['symbol'] }}</h1>
                  <h1>{{ config['period'] }}</h1>
                  <h4>{{ config['status'] }}</h4>
                  <div class="about">De {{ config['account_mt5'] }} | {{ config['server_mt5'] }} em {{ config['created'].strftime('%d-%m-%Y') }}</div>
                </div>
              </header>
            </article>
            {% if not loop.last %}
              <hr />
            {% endif %}
        {% endfor %}
      </div>


        <div class="ia-content">
          <h1>Configurações</h1>
          <hr />
          <div id="container-new-config">
            <div id="col-info-setup">
              <p>
                MetaTrader 5:
                {% if initMt5 %}
                  Ativo
                {% else %}
                  Inativo
                {% endif %}
              </p>
            </div>
            <div id="col-new-config">
              {% if g.user %}
                <p><a class="action" href="{{ url_for('panel.create') }}">Nova configuração</a></p>
              {% endif %}
            </div>
          </div>
          <hr />

          {% for config in configs %}
            <article class="config">
              <header>
                <div>
                  <h1>{{ config['symbol'] }}</h1>
                  <h1>{{ config['period'] }}</h1>
                  <h1>{{ config['status'] }}</h1>
                  <div class="about">by {{ config['account_mt5'] }} | {{ config['server_mt5'] }} on {{ config['created'].strftime('%d-%m-%Y') }}</div>
                </div>
                
                  <a class="action" href="{{ url_for('panel.update', id = config['id']) }}">Edit</a>
                
              </header>
            </article>
            {% if not loop.last %}
              <hr />
            {% endif %}
          {% endfor %}
        </div>
      
    </div>
  {% endif %}
{% endblock %}