{% extends 'base.html' %}

{% block header %}
  <h1>
    {% block title %}
      Painel de Controle
    {% endblock %}
  </h1>
{% endblock %}

{% block content %}
  <div class="content-container">
    <div class="history-container">
      <h1>Histórico</h1>
      <hr />
   
    </div>

    {% if g.user %}
      <div class="ia-content">
        <h1>Configurações</h1>
        <hr />
        <div id="container-new-config">
          <div id="col-info-setup">
            <p>
              MetaTrader 5:{% if initMt5 %}
                Ativo
              {% else %}
                Inativo
              {% endif %}
            </p>
          </div>
          <div id="col-new-config">
            {% if g.user %}
              <p>
                <a class="action" href="{{ url_for('panel.create') }}">Nova configuração</a>
              </p>
            {% endif %}
          </div>
        </div>
        <hr />
        {% if configs[0] and g.user['id'] == configs[0]['user_id'] %}
          {% for config in configs %}
            <article class="config">
              <header>
                <div>
                  <h1>{{ config['symbol'] }}</h1>
                  <h1>{{ config['period'] }}</h1>
                  <h1 id="status">{{ config['status'] }}</h1>
                  <div class="about">by {{ config['account_mt5'] }} | {{ config['server_mt5'] }} on {{ config['created'].strftime('%d/%m/%Y') }}</div>
                </div>
                <a class="action" href="{{ url_for('panel.execute', id = config['id']) }}">Executar</a>
                <a class="action" href="{{ url_for('panel.update', id = config['id']) }}">Editar</a>
              </header>
            </article>
            {% if not loop.last %}
              <hr />
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
    {% endif %}
  </div>
  <script>
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function(message) {
      console.log("Websocket Connected");
    });
    socket.on('loading_config', function(message) {
      var status = document.getElementById('status');
      status.innerText = message;
    });
  </script>
{% endblock %}
